<a href="/projects/{{ _id }}" class="thumbnail project-tile">
  <div class="project-tile-header"></div>
  <article class="caption">
    <header class="project-tile-heading">
      <h3 class="project-tile-title">{{ title }}</h3>
      {{#if summary}}
      <p class="project-tile-summary">{{ summary }}</p>
      {{/if}}
      <p class="project-tile-user">{{ user }}</p>
      <p class="project-tile-submitted">{{ created }}</p>
    </header>
    <section class="project-tile-support">
      <div class="row">
        <div class="col-sm-6 supporters">
          <p class="count">{{ votes }}</p>
          <p>Supporters</p>
        </div>
        <div class="col-sm-6 deadline">
          <p class="count">{{ expiring }}</p>
          <p>Days left</p>
        </div>
      </div>
    </section>
    <section class="project-tile-status">
      <p>Status: <span class="status">{{ status }}</span></p>
    </section>
  </article>
</a>
